
entsoapi.py
.ipynb_checkpoints/10 Módszertan beadandó-checkpoint.ipynb
__pycache__/entsoapi.cpython-38.pyc
.ipynb_checkpoints/12 Scipy optimisation-checkpoint.ipynb
.ipynb_checkpoints/11 Portfolio_optimalizálás-checkpoint.ipynb
